
<div class="container">
  <div class="row mb-1" [ngStyle]="{'margin-bottom':'30px'}">
    <div class="col-2">{{inPerson.id}} 
    </div>
    <div class="col-2">{{inPerson.firstname}}
    </div>
    <div class="col-2">{{inPerson.lastname}}
    </div>
    <div class="col-2">{{inPerson.phone}}
    </div>
    <div class="col-2">
      <div class="btn-group m-1">
        <button class="btn btn-primary" [ngStyle]="{'margin-right':'15px'}" (click)="onDeletePerson()">Удалить</button>
        <button class="btn btn-primary" [routerLink]="['/edit', inPerson.id]">Редактировать</button>
        
      </div>
    </div>
    
    <!-- <form [formGroup]="FormEdit">
      <div class="row mb-1" *ngIf="nowEdit" [ngStyle]="{'margin-bottom':'30px'}">
        <div class="col-3">
          <input type="text" formControlName="firstname" class="form-control" placeholder="Имя">
        </div>
        <div class="col-3">

          <input type="text" formControlName="lastname" class="form-control" placeholder="Фамилия">
        </div>
        <div class="col-3">

          <input type="text" type="text" [textMask] = "{mask:mask}" formControlName="phone" class="form-control">
        </div>

        <div class="col-3">
          <button [disabled]="FormEdit.invalid" class="btn btn-primary" (click)="onEditPerson()">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div> -->