<div class="container" [ngStyle]="{'margin-bottom':'30px'}">
  <h3>Фильтры</h3>
  <div class="row mb-1">
    <div class="col">
      <input type="text" [(ngModel)]="srchFN" class="form-control" placeholder="Поиск по имени">
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="srchLN" class="form-control" placeholder="Поиск по фамилии">
    </div>
  </div>
</div>



<div class="container">
  <app-person-view (delPerson)="personsService.onDeletePerson($event)"
                   [inPerson]="person"
                   *ngFor="let person of personsService.persons | filterFirstName:srchFN | filterLastName:srchLN">
  </app-person-view> 
</div>
<hr>


