<div class="container">
  <form [formGroup]="FormAdd" (ngSubmit)="onSave()">
    <div class="row ">
      <div class="col-12">
        <input type="hidden" formControlName="id">
        <input type="text" formControlName="firstname" class="form-control" placeholder="Имя">
      </div>
      <div class="col-12 mt-2">

        <input type="text" formControlName="lastname" class="form-control" placeholder="Фамилия">
      </div>
      <div class="col-12 mt-2">

        <input type="text" [textMask]="{mask: mask}"  formControlName="phone" class="form-control" placeholder="Телефон">
      </div>

      <div class="col-2" [ngStyle]="{'margin-top':'15px'}">
        <button  class="btn btn-primary" type="submit" [disabled]="addForm.invalid">Сохранить</button>
      </div>
    </div>
  </form>
</div>
